.mosquito1 {
    height: 70px;
    width: 70px;
    position: absolute;
}

.mosquito2 {
    height: 90px;
    width: 90px;
    position: absolute;
}

.mosquito3 {
    height: 140px;
    width: 140px;
    position: absolute;
}

.ladoA{
    transform: scaleX(1);
}

.ladoB{
    transform: scaleX(-1);
}